USE [master]
GO
/****** Object:  Database [BloodCenterOS_DB3]    Script Date: 13/10/2025 05:00:47 PM ******/
CREATE DATABASE [BloodCenterOS_DB3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BloodCenterOS_DB3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS22\MSSQL\DATA\BloodCenterOS_DB3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BloodCenterOS_DB3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS22\MSSQL\DATA\BloodCenterOS_DB3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BloodCenterOS_DB3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BloodCenterOS_DB3]
GO
/****** Object:  Table [dbo].[AnalyticsDashboardData]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalyticsDashboardData](
	[DashboardDataId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[DataKey] [nvarchar](200) NULL,
	[DataValue] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DashboardDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiIntegrationMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiIntegrationMaster](
	[ApiIntegrationId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[IntegrationName] [nvarchar](200) NULL,
	[BaseUrl] [nvarchar](1000) NULL,
	[ApiKey] [nvarchar](1000) NULL,
	[Username] [nvarchar](500) NULL,
	[PasswordEncrypted] [nvarchar](1000) NULL,
	[LastSyncAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApiIntegrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiResponseLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiResponseLog](
	[ApiResponseLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[ApiIntegrationId] [bigint] NULL,
	[RequestPayload] [nvarchar](max) NULL,
	[ResponsePayload] [nvarchar](max) NULL,
	[StatusCode] [nvarchar](50) NULL,
	[CalledAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApiResponseLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentStore]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentStore](
	[AttachmentId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[RelatedTable] [nvarchar](128) NULL,
	[RelatedRecordId] [nvarchar](100) NULL,
	[FileName] [nvarchar](260) NULL,
	[ContentType] [nvarchar](100) NULL,
	[FileSize] [bigint] NULL,
	[FilePath] [nvarchar](4000) NULL,
	[UploadedBy] [bigint] NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[PropertyOwnerId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TableName] [nvarchar](200) NULL,
	[RecordId] [nvarchar](100) NULL,
	[ActionDetails] [nvarchar](4000) NULL,
	[OldValue] [nvarchar](4000) NULL,
	[NewValue] [nvarchar](4000) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BackupLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BackupLog](
	[BackupLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[BackupType] [nvarchar](100) NULL,
	[BackupPath] [nvarchar](4000) NULL,
	[BackupStartedAt] [datetime2](7) NULL,
	[BackupCompletedAt] [datetime2](7) NULL,
	[Status] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BackupLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillingTransaction]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingTransaction](
	[BillingTransactionId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[InvoiceNumber] [nvarchar](200) NULL,
	[PatientId] [bigint] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[TaxAmount] [decimal](18, 2) NULL,
	[Discount] [decimal](18, 2) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[PaymentMode] [nvarchar](50) NULL,
	[InvoiceDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillingTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodBagMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodBagMaster](
	[BagId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[BloodBagNumber] [nvarchar](100) NOT NULL,
	[CollectionId] [bigint] NULL,
	[DonorId] [bigint] NULL,
	[BagBarcode] [nvarchar](200) NULL,
	[BagLotNumber] [nvarchar](100) NULL,
	[BagVolumeMl] [int] NULL,
	[BagType] [nvarchar](100) NULL,
	[BagStatus] [nvarchar](100) NULL,
	[InitialCollectedAt] [datetime2](7) NULL,
	[ExpiryDate] [date] NULL,
	[QuarantineReason] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[BagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodCampMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodCampMaster](
	[CampId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[CampCode] [nvarchar](100) NULL,
	[CampName] [nvarchar](300) NULL,
	[OrganizerId] [bigint] NULL,
	[Venue] [nvarchar](500) NULL,
	[City] [nvarchar](200) NULL,
	[CampDate] [date] NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[TotalDonorsExpected] [int] NULL,
	[TotalDonorsCollected] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CampId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodCenterMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodCenterMaster](
	[CenterId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterCode] [nvarchar](100) NULL,
	[CenterName] [nvarchar](250) NOT NULL,
	[LicenseNumber] [nvarchar](100) NULL,
	[AddressLine1] [nvarchar](300) NULL,
	[AddressLine2] [nvarchar](300) NULL,
	[City] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Pincode] [nvarchar](20) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[Website] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodGroupMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodGroupMaster](
	[BloodGroupId] [bigint] IDENTITY(1,1) NOT NULL,
	[BloodGroupCode] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BloodGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodTestRecord]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodTestRecord](
	[TestRecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[CollectionId] [bigint] NULL,
	[BagNumber] [nvarchar](100) NULL,
	[SampleTakenAt] [datetime2](7) NULL,
	[PerformedBy] [bigint] NULL,
	[OverallStatus] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TestRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodTestResult]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodTestResult](
	[TestResultId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[TestRecordId] [bigint] NULL,
	[BagId] [bigint] NULL,
	[TestCode] [nvarchar](100) NOT NULL,
	[Result] [nvarchar](100) NULL,
	[Method] [nvarchar](200) NULL,
	[KitLotNo] [nvarchar](200) NULL,
	[PerformedBy] [bigint] NULL,
	[PerformedAt] [datetime2](7) NULL,
	[Remarks] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TestResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchMaster](
	[BranchId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NOT NULL,
	[BranchCode] [nvarchar](100) NULL,
	[BranchName] [nvarchar](250) NULL,
	[AddressLine1] [nvarchar](300) NULL,
	[AddressLine2] [nvarchar](300) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Pincode] [nvarchar](20) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampDonorMap]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampDonorMap](
	[CampDonorMapId] [bigint] IDENTITY(1,1) NOT NULL,
	[CampId] [bigint] NOT NULL,
	[DonorId] [bigint] NULL,
	[CenterId] [bigint] NULL,
	[RegisteredAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CampDonorMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampExpenseLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampExpenseLog](
	[CampExpenseId] [bigint] IDENTITY(1,1) NOT NULL,
	[CampId] [bigint] NOT NULL,
	[ExpenseCategory] [nvarchar](200) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Notes] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CampExpenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampInventory]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampInventory](
	[CampInventoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CampId] [bigint] NOT NULL,
	[ItemName] [nvarchar](300) NULL,
	[Quantity] [int] NULL,
	[Unit] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CampInventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampOrganizer]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampOrganizer](
	[OrganizerId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[OrganizerName] [nvarchar](300) NULL,
	[ContactPerson] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[Address] [nvarchar](400) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrganizerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CenterConfig]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CenterConfig](
	[CenterConfigId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NOT NULL,
	[ConfigKey] [nvarchar](200) NOT NULL,
	[ConfigValue] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CenterConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CenterUserMap]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CenterUserMap](
	[CenterUserMapId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CenterUserMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeLog](
	[ChangeLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[EntityName] [nvarchar](200) NULL,
	[EntityId] [nvarchar](100) NULL,
	[ChangeType] [nvarchar](50) NULL,
	[ChangeData] [nvarchar](max) NULL,
	[ChangedBy] [bigint] NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChangeLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityMaster](
	[CityId] [bigint] IDENTITY(1,1) NOT NULL,
	[DistrictId] [bigint] NULL,
	[CityName] [nvarchar](200) NOT NULL,
	[Pincode] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CollectionRecord]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectionRecord](
	[CollectionId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[BranchId] [bigint] NULL,
	[CampId] [bigint] NULL,
	[DonorId] [bigint] NULL,
	[BloodBagNumber] [nvarchar](100) NULL,
	[BagBarcode] [nvarchar](150) NULL,
	[BagLotNumber] [nvarchar](100) NULL,
	[BagVolumeMl] [int] NULL,
	[CollectorEmployeeId] [bigint] NULL,
	[CollectionLocationType] [nvarchar](50) NULL,
	[CollectionStartTime] [datetime2](7) NULL,
	[CollectionEndTime] [datetime2](7) NULL,
	[Notes] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CollectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CollectionStaffMap]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectionStaffMap](
	[CollectionStaffMapId] [bigint] IDENTITY(1,1) NOT NULL,
	[CollectionId] [bigint] NOT NULL,
	[EmployeeId] [bigint] NULL,
	[Role] [nvarchar](100) NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CollectionStaffMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentMaster](
	[ComponentId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[ComponentCode] [nvarchar](100) NOT NULL,
	[ParentBagId] [bigint] NULL,
	[ComponentType] [nvarchar](50) NULL,
	[VolumeMl] [int] NULL,
	[ExpiryDate] [date] NULL,
	[StorageLocation] [nvarchar](200) NULL,
	[CurrentStatus] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComponentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentPreparation]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentPreparation](
	[PreparationId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[ParentBagId] [bigint] NULL,
	[ComponentType] [nvarchar](100) NULL,
	[VolumeMl] [int] NULL,
	[PreparedBy] [bigint] NULL,
	[PreparedAt] [datetime2](7) NULL,
	[Notes] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PreparationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentPreparationLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentPreparationLog](
	[PreparationLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[PreparationId] [bigint] NULL,
	[ComponentId] [bigint] NULL,
	[Notes] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PreparationLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentStorage]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentStorage](
	[StorageId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[ComponentId] [bigint] NULL,
	[FridgeId] [bigint] NULL,
	[StorageLocation] [nvarchar](200) NULL,
	[PlacedAt] [datetime2](7) NULL,
	[Notes] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StorageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentTransferLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentTransferLog](
	[TransferId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[ComponentId] [bigint] NULL,
	[FromCenterId] [bigint] NULL,
	[ToCenterId] [bigint] NULL,
	[TransferDate] [datetime2](7) NOT NULL,
	[TransportDetails] [nvarchar](1000) NULL,
	[CreatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComponentTypeMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentTypeMaster](
	[ComponentTypeId] [bigint] IDENTITY(1,1) NOT NULL,
	[ComponentTypeCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComponentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrossMatchRecord]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrossMatchRecord](
	[CrossMatchId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[RequestId] [bigint] NULL,
	[ComponentId] [bigint] NULL,
	[Result] [nvarchar](200) NULL,
	[Method] [nvarchar](200) NULL,
	[PerformedBy] [bigint] NULL,
	[PerformedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CrossMatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataUploadHistory]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataUploadHistory](
	[UploadHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[TargetSystem] [nvarchar](200) NULL,
	[PayloadPath] [nvarchar](4000) NULL,
	[ResponseStatus] [nvarchar](200) NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UploadHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeferralRecord]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeferralRecord](
	[DeferralId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[DonorId] [bigint] NOT NULL,
	[DeferralDate] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](1000) NULL,
	[DeferralUntil] [date] NULL,
	[Notes] [nvarchar](2000) NULL,
	[CreatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[DeferralId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentMaster](
	[DepartmentId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[DepartmentCode] [nvarchar](100) NULL,
	[DepartmentName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DesignationMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignationMaster](
	[DesignationId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[DesignationName] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceMaster](
	[DeviceId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[DeviceName] [nvarchar](200) NULL,
	[DeviceType] [nvarchar](100) NULL,
	[SerialNumber] [nvarchar](200) NULL,
	[PurchaseDate] [date] NULL,
	[WarrantyEndDate] [date] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscardRecord]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscardRecord](
	[DiscardId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[BagId] [bigint] NULL,
	[ComponentId] [bigint] NULL,
	[DiscardReason] [nvarchar](500) NULL,
	[DiscardedAt] [datetime2](7) NOT NULL,
	[DiscardedBy] [bigint] NULL,
	[Notes] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistrictMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictMaster](
	[DistrictId] [bigint] IDENTITY(1,1) NOT NULL,
	[StateId] [bigint] NULL,
	[DistrictName] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonorAppointment]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonorAppointment](
	[AppointmentId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[DonorId] [bigint] NULL,
	[AppointmentDate] [datetime2](7) NULL,
	[Slot] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonorCommunicationLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonorCommunicationLog](
	[CommId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[DonorId] [bigint] NULL,
	[Channel] [nvarchar](50) NULL,
	[Message] [nvarchar](2000) NULL,
	[SentAt] [datetime2](7) NULL,
	[SentBy] [bigint] NULL,
	[Status] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CommId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonorDonationHistory]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonorDonationHistory](
	[DonationId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[DonorId] [bigint] NOT NULL,
	[CollectionId] [bigint] NULL,
	[DonationDate] [datetime2](7) NOT NULL,
	[DonationType] [nvarchar](100) NULL,
	[VolumeMl] [int] NULL,
	[BagNumber] [nvarchar](100) NULL,
	[Remarks] [nvarchar](1000) NULL,
	[CreatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[DonationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonorHealthHistory]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonorHealthHistory](
	[DonorHealthHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[DonorId] [bigint] NOT NULL,
	[VisitDate] [datetime2](7) NOT NULL,
	[WeightKg] [decimal](5, 2) NULL,
	[Temperature] [decimal](5, 2) NULL,
	[BloodPressure] [nvarchar](50) NULL,
	[Hemoglobin] [decimal](5, 2) NULL,
	[PulseRate] [int] NULL,
	[Remarks] [nvarchar](2000) NULL,
	[RecordedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[DonorHealthHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonorMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonorMaster](
	[DonorId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[DonorCode] [nvarchar](100) NULL,
	[FirstName] [nvarchar](200) NOT NULL,
	[LastName] [nvarchar](200) NULL,
	[Gender] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[BloodGroup] [nvarchar](10) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[AadhaarNumber] [nvarchar](20) NULL,
	[AddressLine1] [nvarchar](300) NULL,
	[AddressLine2] [nvarchar](300) NULL,
	[City] [nvarchar](100) NULL,
	[Pincode] [nvarchar](20) NULL,
	[Occupation] [nvarchar](200) NULL,
	[PreferredLanguage] [nvarchar](50) NULL,
	[LastDonationDate] [date] NULL,
	[TotalDonations] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[DonorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailTemplateMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailTemplateMaster](
	[EmailTemplateId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[TemplateCode] [nvarchar](200) NULL,
	[Subject] [nvarchar](400) NULL,
	[BodyHtml] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmailTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyDonorResponse]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyDonorResponse](
	[ResponseId] [bigint] IDENTITY(1,1) NOT NULL,
	[EmergencyRequestId] [bigint] NOT NULL,
	[DonorId] [bigint] NULL,
	[ResponseContact] [nvarchar](200) NULL,
	[RespondedAt] [datetime2](7) NOT NULL,
	[IsVerified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyRequest]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyRequest](
	[EmergencyRequestId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[HospitalId] [bigint] NULL,
	[PatientName] [nvarchar](300) NULL,
	[BloodGroup] [nvarchar](20) NULL,
	[ComponentType] [nvarchar](100) NULL,
	[UnitsRequired] [int] NULL,
	[RequestStatus] [nvarchar](100) NULL,
	[RequestedAt] [datetime2](7) NOT NULL,
	[RequestedByUserId] [bigint] NULL,
	[FulfilledAt] [datetime2](7) NULL,
	[Notes] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmergencyRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeMaster](
	[EmployeeId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[EmployeeCode] [nvarchar](100) NULL,
	[FirstName] [nvarchar](150) NULL,
	[LastName] [nvarchar](150) NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Designation] [nvarchar](150) NULL,
	[DepartmentId] [bigint] NULL,
	[JoinDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[ErrorId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[OccurredAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseMaster](
	[ExpenseId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[ExpenseDate] [datetime2](7) NOT NULL,
	[Category] [nvarchar](200) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Notes] [nvarchar](2000) NULL,
	[CreatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportFileLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportFileLog](
	[ExportFileLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[FileName] [nvarchar](400) NULL,
	[FileType] [nvarchar](100) NULL,
	[FilePath] [nvarchar](4000) NULL,
	[ExportedAt] [datetime2](7) NOT NULL,
	[ExportedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExportFileLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackMaster](
	[FeedbackId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[Source] [nvarchar](100) NULL,
	[Subject] [nvarchar](300) NULL,
	[Message] [nvarchar](max) NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[SubmittedBy] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FridgeStorageMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FridgeStorageMaster](
	[FridgeId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[FridgeCode] [nvarchar](100) NULL,
	[FridgeName] [nvarchar](200) NULL,
	[Capacity] [int] NULL,
	[Location] [nvarchar](200) NULL,
	[TemperatureLogRequired] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FridgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HolidayMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HolidayMaster](
	[HolidayId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[HolidayDate] [date] NOT NULL,
	[Description] [nvarchar](400) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HolidayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospitalMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalMaster](
	[HospitalId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[HospitalCode] [nvarchar](100) NULL,
	[HospitalName] [nvarchar](300) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[ContactPerson] [nvarchar](200) NULL,
	[Phone] [nvarchar](100) NULL,
	[Email] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryStock]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryStock](
	[InventoryStockId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[ComponentType] [nvarchar](100) NULL,
	[BloodGroup] [nvarchar](20) NULL,
	[AvailableQty] [int] NOT NULL,
	[ReservedQty] [int] NOT NULL,
	[QuarantinedQty] [int] NOT NULL,
	[LastUpdatedAt] [datetime2](7) NULL,
	[LastUpdatedBy] [bigint] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryStockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactionLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactionLog](
	[InventoryTxId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[ReferenceType] [nvarchar](100) NULL,
	[ReferenceId] [nvarchar](200) NULL,
	[ComponentId] [bigint] NULL,
	[BagId] [bigint] NULL,
	[Quantity] [int] NOT NULL,
	[FromLocation] [nvarchar](200) NULL,
	[ToLocation] [nvarchar](200) NULL,
	[Notes] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryTxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[InvoiceDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[BillingTransactionId] [bigint] NOT NULL,
	[ComponentId] [bigint] NULL,
	[ServiceChargeId] [bigint] NULL,
	[ServiceName] [nvarchar](300) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[LineTotal] [decimal](18, 2) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueRecord]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueRecord](
	[IssueRecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[ComponentId] [bigint] NULL,
	[BagId] [bigint] NULL,
	[PatientName] [nvarchar](300) NULL,
	[HospitalId] [bigint] NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[IssuedByUserId] [bigint] NULL,
	[IssueType] [nvarchar](50) NULL,
	[IssueSlipNumber] [nvarchar](200) NULL,
	[RelatedBillingId] [bigint] NULL,
	[Notes] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[LoginHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CenterId] [bigint] NULL,
	[LoginAt] [datetime2](7) NOT NULL,
	[LogoutAt] [datetime2](7) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupType]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupType](
	[LookupTypeId] [bigint] IDENTITY(1,1) NOT NULL,
	[TypeCode] [nvarchar](100) NOT NULL,
	[TypeName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LookupTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupValue]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupValue](
	[LookupValueId] [bigint] IDENTITY(1,1) NOT NULL,
	[LookupTypeId] [bigint] NULL,
	[CenterId] [bigint] NULL,
	[ValueCode] [nvarchar](100) NULL,
	[ValueText] [nvarchar](500) NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LookupValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyReportLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyReportLog](
	[MonthlyReportId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[ReportYear] [int] NULL,
	[ReportMonth] [int] NULL,
	[ReportType] [nvarchar](200) NULL,
	[DataSnapshot] [nvarchar](max) NULL,
	[FilePath] [nvarchar](4000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MonthlyReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsletterSubscription]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsletterSubscription](
	[SubscriptionId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[Email] [nvarchar](200) NULL,
	[SubscribedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationMaster](
	[NotificationId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[NotificationType] [nvarchar](50) NULL,
	[Title] [nvarchar](300) NULL,
	[Body] [nvarchar](4000) NULL,
	[TargetAudience] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutboxLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutboxLog](
	[OutboxId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[Channel] [nvarchar](50) NULL,
	[Recipient] [nvarchar](500) NULL,
	[Message] [nvarchar](max) NULL,
	[SentAt] [datetime2](7) NULL,
	[Status] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OutboxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientRequest]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientRequest](
	[RequestId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[HospitalId] [bigint] NULL,
	[PatientName] [nvarchar](300) NULL,
	[PatientAge] [int] NULL,
	[PatientGender] [nvarchar](50) NULL,
	[BloodGroup] [nvarchar](20) NULL,
	[ComponentType] [nvarchar](100) NULL,
	[UnitsRequested] [int] NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[RequestUrgency] [nvarchar](50) NULL,
	[PrescriptionAttachmentId] [bigint] NULL,
	[RequestedByUserId] [bigint] NULL,
	[RelatedIssueId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentRecord]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentRecord](
	[PaymentId] [bigint] IDENTITY(1,1) NOT NULL,
	[BillingTransactionId] [bigint] NULL,
	[CenterId] [bigint] NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaymentMode] [nvarchar](100) NULL,
	[Reference] [nvarchar](200) NULL,
	[CreatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionMaster](
	[PermissionId] [bigint] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PincodeMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PincodeMaster](
	[PincodeId] [bigint] IDENTITY(1,1) NOT NULL,
	[Pincode] [nvarchar](20) NOT NULL,
	[AreaName] [nvarchar](300) NULL,
	[CityId] [bigint] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PincodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortalUploadQueue]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortalUploadQueue](
	[UploadQueueId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[TargetPortal] [nvarchar](200) NULL,
	[PayloadPath] [nvarchar](4000) NULL,
	[Status] [nvarchar](100) NULL,
	[AttemptCount] [int] NOT NULL,
	[NextAttemptAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UploadQueueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QualityControlRecord]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualityControlRecord](
	[QCRecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[DeviceId] [bigint] NULL,
	[QCDate] [datetime2](7) NOT NULL,
	[QCDetail] [nvarchar](2000) NULL,
	[PerformedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[QCRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReasonMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReasonMaster](
	[ReasonId] [bigint] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[ReasonCode] [nvarchar](100) NULL,
	[ReasonText] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplacementDonor]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplacementDonor](
	[ReplacementDonorId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[PatientRequestId] [bigint] NULL,
	[DonorId] [bigint] NULL,
	[DonatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplacementDonorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportTemplate]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportTemplate](
	[ReportTemplateId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[TemplateName] [nvarchar](300) NULL,
	[TemplateFilePath] [nvarchar](4000) NULL,
	[FileType] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatusLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatusLog](
	[RequestStatusLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestId] [bigint] NULL,
	[OldStatus] [nvarchar](100) NULL,
	[NewStatus] [nvarchar](100) NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
	[ChangedBy] [bigint] NULL,
	[Notes] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestStatusLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRecord]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRecord](
	[ReturnId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[IssueRecordId] [bigint] NULL,
	[ComponentId] [bigint] NULL,
	[ReturnDate] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](1000) NULL,
	[CreatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMaster](
	[RoleId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[RoleName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissionMap]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissionMap](
	[RolePermissionMapId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[PermissionId] [bigint] NOT NULL,
	[CenterId] [bigint] NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
	[AssignedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RolePermissionMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchedulerJobLog]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchedulerJobLog](
	[JobLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[JobName] [nvarchar](200) NULL,
	[LastRunAt] [datetime2](7) NULL,
	[Status] [nvarchar](100) NULL,
	[Message] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[JobLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SequenceCounters]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SequenceCounters](
	[SequenceCounterId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[SequenceName] [nvarchar](100) NOT NULL,
	[LastValue] [bigint] NOT NULL,
	[Prefix] [nvarchar](20) NULL,
	[Suffix] [nvarchar](20) NULL,
	[IncrementBy] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[SequenceCounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceChargeMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceChargeMaster](
	[ServiceChargeId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[ServiceCode] [nvarchar](100) NULL,
	[ServiceName] [nvarchar](300) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceChargeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SmsTemplateMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SmsTemplateMaster](
	[SmsTemplateId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[TemplateCode] [nvarchar](200) NULL,
	[TemplateText] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SmsTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateMaster](
	[StateId] [bigint] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfig]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfig](
	[ConfigId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[ConfigKey] [nvarchar](200) NOT NULL,
	[ConfigValue] [nvarchar](max) NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestKitMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestKitMaster](
	[TestKitId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[KitName] [nvarchar](300) NULL,
	[Manufacturer] [nvarchar](300) NULL,
	[LotNumber] [nvarchar](200) NULL,
	[ExpiryDate] [date] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TestKitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestTechnicianMap]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTechnicianMap](
	[TestTechnicianMapId] [bigint] IDENTITY(1,1) NOT NULL,
	[TestRecordId] [bigint] NOT NULL,
	[TechnicianId] [bigint] NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TestTechnicianMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[UserName] [nvarchar](150) NOT NULL,
	[DisplayName] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[PasswordHash] [nvarchar](512) NULL,
	[PasswordSalt] [nvarchar](256) NULL,
	[IsLocked] [bit] NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMap]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMap](
	[UserRoleMapId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[CenterId] [bigint] NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
	[AssignedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 13/10/2025 05:00:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[UserSettingsId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[SettingsKey] [nvarchar](200) NOT NULL,
	[SettingsValue] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserSettingsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CollectionRecord_CreatedAt]    Script Date: 13/10/2025 05:00:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_CollectionRecord_CreatedAt] ON [dbo].[CollectionRecord]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DonorMaster_Phone]    Script Date: 13/10/2025 05:00:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonorMaster_Phone] ON [dbo].[DonorMaster]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnalyticsDashboardData] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ApiIntegrationMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ApiResponseLog] ADD  DEFAULT (sysutcdatetime()) FOR [CalledAt]
GO
ALTER TABLE [dbo].[AttachmentStore] ADD  DEFAULT (sysutcdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BackupLog] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BillingTransaction] ADD  DEFAULT ((0)) FOR [TaxAmount]
GO
ALTER TABLE [dbo].[BillingTransaction] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[BillingTransaction] ADD  DEFAULT (sysutcdatetime()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[BillingTransaction] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BloodBagMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BloodCampMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BloodCenterMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BloodCenterMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BloodGroupMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BloodTestRecord] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BloodTestResult] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BranchMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CampDonorMap] ADD  DEFAULT (sysutcdatetime()) FOR [RegisteredAt]
GO
ALTER TABLE [dbo].[CampExpenseLog] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CampInventory] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CampOrganizer] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CenterConfig] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CenterUserMap] ADD  DEFAULT (sysutcdatetime()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[ChangeLog] ADD  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[CityMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CollectionRecord] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CollectionStaffMap] ADD  DEFAULT (sysutcdatetime()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[ComponentMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ComponentPreparation] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ComponentPreparationLog] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ComponentStorage] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ComponentTransferLog] ADD  DEFAULT (sysutcdatetime()) FOR [TransferDate]
GO
ALTER TABLE [dbo].[ComponentTypeMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CrossMatchRecord] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DataUploadHistory] ADD  DEFAULT (sysutcdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[DeferralRecord] ADD  DEFAULT (sysutcdatetime()) FOR [DeferralDate]
GO
ALTER TABLE [dbo].[DepartmentMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DesignationMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DeviceMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DiscardRecord] ADD  DEFAULT (sysutcdatetime()) FOR [DiscardedAt]
GO
ALTER TABLE [dbo].[DistrictMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DonorAppointment] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DonorDonationHistory] ADD  DEFAULT (sysutcdatetime()) FOR [DonationDate]
GO
ALTER TABLE [dbo].[DonorHealthHistory] ADD  DEFAULT (sysutcdatetime()) FOR [VisitDate]
GO
ALTER TABLE [dbo].[DonorMaster] ADD  DEFAULT ((0)) FOR [TotalDonations]
GO
ALTER TABLE [dbo].[DonorMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmailTemplateMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmergencyDonorResponse] ADD  DEFAULT (sysutcdatetime()) FOR [RespondedAt]
GO
ALTER TABLE [dbo].[EmergencyDonorResponse] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[EmergencyRequest] ADD  DEFAULT (sysutcdatetime()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[EmployeeMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeeMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT (sysutcdatetime()) FOR [OccurredAt]
GO
ALTER TABLE [dbo].[ExpenseMaster] ADD  DEFAULT (sysutcdatetime()) FOR [ExpenseDate]
GO
ALTER TABLE [dbo].[ExportFileLog] ADD  DEFAULT (sysutcdatetime()) FOR [ExportedAt]
GO
ALTER TABLE [dbo].[FeedbackMaster] ADD  DEFAULT (sysutcdatetime()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[FridgeStorageMaster] ADD  DEFAULT ((1)) FOR [TemperatureLogRequired]
GO
ALTER TABLE [dbo].[FridgeStorageMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HolidayMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HospitalMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InventoryStock] ADD  DEFAULT ((0)) FOR [AvailableQty]
GO
ALTER TABLE [dbo].[InventoryStock] ADD  DEFAULT ((0)) FOR [ReservedQty]
GO
ALTER TABLE [dbo].[InventoryStock] ADD  DEFAULT ((0)) FOR [QuarantinedQty]
GO
ALTER TABLE [dbo].[InventoryStock] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InventoryTransactionLog] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[InventoryTransactionLog] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InvoiceDetail] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[InvoiceDetail] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[IssueRecord] ADD  DEFAULT (sysutcdatetime()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[LoginHistory] ADD  DEFAULT (sysutcdatetime()) FOR [LoginAt]
GO
ALTER TABLE [dbo].[LookupType] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LookupValue] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LookupValue] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MonthlyReportLog] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NewsletterSubscription] ADD  DEFAULT (sysutcdatetime()) FOR [SubscribedAt]
GO
ALTER TABLE [dbo].[NewsletterSubscription] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NotificationMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NotificationMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OutboxLog] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PatientRequest] ADD  DEFAULT (sysutcdatetime()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[PaymentRecord] ADD  DEFAULT (sysutcdatetime()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[PermissionMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PincodeMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PortalUploadQueue] ADD  DEFAULT ((0)) FOR [AttemptCount]
GO
ALTER TABLE [dbo].[PortalUploadQueue] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QualityControlRecord] ADD  DEFAULT (sysutcdatetime()) FOR [QCDate]
GO
ALTER TABLE [dbo].[ReasonMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReportTemplate] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RequestStatusLog] ADD  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[ReturnRecord] ADD  DEFAULT (sysutcdatetime()) FOR [ReturnDate]
GO
ALTER TABLE [dbo].[RoleMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RolePermissionMap] ADD  DEFAULT (sysutcdatetime()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[SequenceCounters] ADD  DEFAULT ((0)) FOR [LastValue]
GO
ALTER TABLE [dbo].[SequenceCounters] ADD  DEFAULT ((1)) FOR [IncrementBy]
GO
ALTER TABLE [dbo].[SequenceCounters] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ServiceChargeMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServiceChargeMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SmsTemplateMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StateMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SystemConfig] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TestKitMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TestTechnicianMap] ADD  DEFAULT (sysutcdatetime()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[UserMaster] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[UserMaster] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserRoleMap] ADD  DEFAULT (sysutcdatetime()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
USE [master]
GO
